body {
    margin-top: 40px;
}
@media (min-width: 768px) {
    .container .small {
        width: 500px;
    }
    .container .small {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}
